h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}


input[type="text"],
input[type="number"] {
  width: 200px;
}

button {
  margin-left: 100px;
}

#blockchain-data {
  font-size: 30px;
  font-family: bold;
  color: white;
  text-align: center;
  margin-left: 2vw;
  width: 100%;
}

.card-text {
  font-size: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card-text {
  font-size: 10;
}

#blockchain-table {
  width: 90%;
}

.separator-bottom {
  border-bottom: 1px solid #ddd;
}

.separator-right {
  border-right: 1px solid #ddd;
}

#blockchain-data {
  font-size: 30px;
  font-family: bold;
  color: white;
  position: center;
  margin-left: 2vw;
  width: 100%;
}

#validity {
  width: 100%;
}

#status {
  font-family: bold;
  font-size: 30px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d78d4;
}

.card-body {
  width: 100%;
  max-width: 400px;
  max-width: 400px;
  /* Adjust the value as needed */
  text-align: center;
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(1, 0, 0, 0.7);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  position: left;
}

.rounded-table {
  border-radius: 40px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.button-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #237A57;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


table td {
  font-size: 20px;
  /* Replace 16px with your desired font size */
}

.button-vol {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3b81d6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


body {
  overflow-y: auto;
  overflow-x: auto;
}

.container-fluid {
  overflow-x: hidden;
}

#searchInput,
#filterId,
#filterFirstName,
#filterLastName,
#filterThirdName,
#filterProblem,
#filterMoneyGoal {
  background-color: rgba(255, 255, 255, 0.3);
}

#searchInput::placeholder,
#filterId::placeholder,
#filterFirstName::placeholder,
#filterLastName::placeholder,
#filterThirdName::placeholder,
#filterProblem::placeholder,
#filterMoneyGoal::placeholder,
#searchInput::-webkit-input-placeholder,
#filterId::-webkit-input-placeholder,
#filterFirstName::-webkit-input-placeholder,
#filterLastName::-webkit-input-placeholder,
#filterThirdName::-webkit-input-placeholder,
#filterProblem::-webkit-input-placeholder,
#filterMoneyGoal::-webkit-input-placeholder {
  color: black;
  opacity: 0.7;
}

#updateForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 20px;
}

.table-responsive table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-responsive table tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

.table-responsive table tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

.table-responsive table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.table-responsive table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}



#helpTable {
  width: 100%;
  white-space: nowrap;
}



.nav-link-active::before {
  content: "•";
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  color: blue;
}

.nav-link-active {
  content: "•";
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: bold;
  margin-right: 5px;
}

.nav-item {
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}

.nav-balance nav-username {
  font-weight: bold;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

#searchInput {
  width: 600px !important;
  /* Adjust the width as needed */
}

.form-control.search-field {
  border-radius: 0;
  border-color: #ccc;
}

/* Style the search input field */
#searchInput {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Adjust the margin between filter fields */
.col-md-2 {
  margin-bottom: 10px;
}

.navbar {
  background: #2c3e50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

nav ul li:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 120px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.dropdown-menu li {
  display: block;
  margin: 5px 0;
}

.dropdown-menu li a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}


.username-box {
  display: inline-block;
  background: #237A57;
  /* fallback for old browsers */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
}


.username-box::hover {
  display: inline-block;
  background: #28ae79;
}

/*
Общие параметры для многих классов и тегов:
position - задает позицию для элементов
height width - высота ширина
margin - расстояние от родительского элемента
padding - задает элементу поле
min/max height/width - макс/мин ширина/высота
z-index нужен для "иерархии эелементов", т.е. он показывает, какой элемент должен быть сверху, а какой снизу по отношению к другим соседним дочерним или родительским элементам
color - цвет эелемента
opacity - прозрачность
-moz/webkit/ms- для корректного отображения в разных браузерах
vh vw - единица измерения относительно текущего размера окна
font-famaly стиль шрифта
font-size - размер шрифта
font-weight - толщина шрифта

position absolute - Положение элемента задается свойствами left, top, right и bottom, 
также на положение влияет значение свойства position родительского элемента.
Так, если у родителя значение position установлено как static или родителя нет,
то отсчет координат ведется от края окна браузера


position fixed - По своему действию это значение близко к absolute, 
но в отличие от него привязывается к указанной свойствами left, top, right и bottom
точке на экране и не меняет своего положения при прокрутке веб-страницы.

position realtive - Положение элемента устанавливается относительно его исходного места.
Добавление свойств left, top, right и bottom изменяет позицию элемента и сдвигает его в ту или
иную сторону от первоначального расположения.

*/